@model BTL_DiDongViet.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
<div class="main">
    <!-- Banner Begin -->
    <div class="section-banner-hotword">
        <div class="banner-wrapper">
            <div class="banner">
                <div>
                    <div class="trend-body">
                        <div class="trend-item">
                            <span class="text-trend">#1</span>
                            <span class="text-trend">Ten San Pham</span>
                            <div class="trend-desc">Có hàng ngay, không cần đợi</div>
                        </div>
                        <div class="trend-item">
                            <span class="text-trend">#2</span>
                            <span class="text-trend">Ten San Pham</span>
                            <div class="trend-desc">Nhỏ gọn. Nhiều ưu đãi</div>
                        </div>
                        <div class="trend-item">
                            <span class="text-trend">#3</span>
                            <span class="text-trend">Ten San Pham</span>
                            <div class="trend-desc">Mẫu mã đẹp. Giá tốt</div>
                        </div>
                        <div class="trend-item">
                            <span class="text-trend">#4</span>
                            <span class="text-trend">Ten San Pham</span>
                            <div class="trend-desc">Nhiều mẫu. Giá hấp dẫn</div>
                        </div>
                        <div class="trend-item">
                            <span class="text-trend">#5</span>
                            <span class="text-trend">Ten San Pham</span>
                            <div class="trend-desc">Nhỏ gọn. Định vị thông minh</div>
                        </div>
                    </div>
                </div>
                <div class="banner__main">
                    <div class="stardust-carouse__arrow">
                        <div class="stardust-carouse__arrow--prev">
                            <svg>
                                <path stroke="none" d="m4.2 10l7.9-7.9-2.1-2.2-9 9-1.1 1.1 1.1 1 9 9
                                       2.1-2.1z"></path>
                            </svg>
                        </div>
                        <div class="stardust-carouse__arrow--next">
                            <svg>
                                <path stroke="none" d="m11.1 9.9l-9-9-2.2 2.2 8 7.9-8 7.9 2.2 2.1
                                       9-9 1-1z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="banner__right-wrapper">
                    <div class="banner__right-banner1"></div>
                    <div class="banner__right-banner2"></div>
                </div>
            </div>
            <div class="category-list">
                @for (int i = 0; i < 10; i++)
                {
                    <a href="@Url.Action("Products", "Product", new { @id = Model.Product.ElementAt(i).ID })" >
                        <div style="width: 100px" class="icon-hover">
                            <div class="icon-wrapper">
                                <div>
                                    <div class="icon" style="background-image: url(../assets/img/ProductImages/@Model.Product.ElementAt(i).Image);
                                       background-size: contain;
                                       background-repeat: no-repeat;
                                       height: 45px;
                                       width: 45px;"></div>
                                </div>
                            </div>
                            <div class="desc">@Model.Product.ElementAt(i).ProductName.Split('(')[0]</div>
                        </div>
                    </a>
                };
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Welcome Package Begin -->

    <a href="@Url.Action("Category", "Category", new { @name = "Apple Iphone" })">
        <div class="welcome-package-banner" style="background-image: url(../assets/img/bannerDIong.png); background-size: contain; background-repeat: no-repeat;">    </div>
    </a>

    <!-- Welcome Package End -->
    <!-- Top Product Begin-->
    <div class="top-product">
        <header>
            <img src="https://cf.shopee.vn/file/7b9103f852ec3b8f5f4452a0138e8497" class="" style="height: 100px">
        </header>
        <div class="top-product-container">
            <header>
                @{
                    int count = 0;
                    var moneyFomat = "{0:#,00}";
                    var IPCategory = Model.Category.Find(m => m.Name.Equals("Apple Iphone"));
                    var IPProduct = Model.Product.FindAll(p => p.CategoryID == IPCategory.ID).OrderByDescending(p => p.Sale).ToList();
                    var setsCategory = Model.Category.Find(s => s.Name.Equals("Phụ kiện"));
                    var sets = Model.Product.FindAll(p => p.CategoryID == setsCategory.ID).OrderBy(p => p.Price).ToList();
                }
                <div class="header-left">
                    <span class="header__title">Iphone sale mạnh</span>
                    <a class="header__link" href="@Url.Action("Category", "Category", new { @name = IPCategory.Name })">
                        Xem thêm
                        <svg enable-background="new 0 0 13 21" viewBox="0 0 13 21" style="width: 9px;
                                 height: 9px;
                                 overflow: hidden;">
                            <path stroke="none" d="m11.1 9.9l-9-9-2.2 2.2 8 7.9-8 7.9 2.2 2.1 9-9
                                    1-1z"></path>
                        </svg>
                    </a>
                </div>
                <div class="header-right">
                    <span class="header__title">Phụ kiện giá sốc</span>
                    <a class="header__link" href="@Url.Action("Category", "Category", new { @name = setsCategory.Name }) ">
                        Xem thêm
                        <svg enable-background="new 0 0 13 21" viewBox="0 0 13 21" style="width: 9px;
                                 height: 9px;
                                 overflow: hidden;">
                            <path stroke="none" d="m11.1 9.9l-9-9-2.2 2.2 8 7.9-8 7.9 2.2 2.1 9-9
                                    1-1z"></path>
                        </svg>
                    </a>
                </div>
            </header>
            <div class="product-list">
                <div class="product-list__left">
                    @if (IPProduct.Count != 0)
                    {
                        foreach (var item in IPProduct)
                        {
                            count++;
                            <a href="#" class="product-list_item">
                                @{
                                    var price = item.Price;
                                    int sale = (int)(price - price * item.Sale / 100);
                                }
                                <div class="item__img" style="background-image: url(../../assets/img/ProductImages/@item.Image);"></div>
                                <div class="item__text" style="font-size:12px;color:black;">
                                    @item.ProductName
                                </div>
                                <div class="item__text" style="text-decoration: line-through; font-size: 14px;">
                                    Giá @String.Format(moneyFomat, price) đ
                                </div>
                                <div class="item__text">
                                    Còn  @String.Format(moneyFomat, sale) đ
                                </div>
                                <div class="discount-badge">
                                    <div class="discount-badge-text">
                                        <span class="percentage">Giảm<br />@item.Sale.ToString()%</span>
                                    </div>
                                </div>
                            </a>
                            if(count == 3)
                            {
                                break;
                            }
                        }
                    }

                </div>
                <div class="middle-space" style="background-color: #ffebda;
                                             display: flex;">
                    <span style="width: 13px;
                                                height: 20px;"></span>
                </div>
                <div class="product-list__right">
                    @if (sets.Count != 0)
                    {
                        count = 0;
                        foreach(var item in sets)
                        {
                            count++;
                            <a href="#" class="product-list_item">
                                <div class="item__img" style="background-image: url(../../assets/img/ProductImages/@item.Image)"></div>
                                <div class="item__text" style="font-size:12px;color:black;">
                                    @item.ProductName
                                </div>
                                <div class="item__text">
                                    Giá @String.Format(moneyFomat, item.Price) đ
                                </div>
                            </a>
                            if(count == 3)
                            {
                                break;
                            }
                        }
                    }


                </div>
            </div>
        </div>
        <picture class="_3va1kl">
            <img src="https://cf.shopee.vn/file/69d092d937215acbc8b227f1427ad2a3" style="height: 50px;
                                          width: 100%;
                                          display: block;
                                          border: 0;" data-metatip="true">
        </picture>
    </div>
    <!-- Top Product End-->
    <!-- Section Below The Fold Begin -->
    <div class="section-below-the-fold">
        <div class="shopee-flash-sale-overview-carousel">
            <div class="shopee-header-section
                        shopee-header-section--simple">
                <div class="shopee-header-section__header">
                    <div class="shopee-header-section__header__title">
                        <div class="flash-sale-header-with-countdown-timer
                                 flash-sale-header-with-countdown-timer--undefined">
                            <div class="flash-sale-header-with-countdown-timer__wrapper
                                    flash-sale-header-with-countdown-timer__wrapper--undefined">
                                <div class="flash-sale-header-with-countdown-timer__header
                                       flash-sale-header-with-countdown-timer__header--vn">Điện thoại</div>
                                <div class="shopee-countdown-timer
                                       flash-sale-header-with-countdown-timer__countdown-timer">
                                    <div class="shopee-countdown-timer__number">
                                        <div class="shopee-countdown-timer__number__hexa"></div>
                                        <div class="shopee-countdown-timer__number__deca"></div>
                                    </div>
                                    <div class="shopee-countdown-timer__colon
                                          shopee-countdown-timer__colon--flashing-off">
                                        <div class="colon-dot__wrapper">
                                            <span class="colon-dot"></span>
                                        </div>
                                        <div class="colon-dot__wrapper">
                                            <span class="colon-dot"></span>
                                        </div>
                                    </div>
                                    <div class="shopee-countdown-timer__number"></div>
                                    <div class="shopee-countdown-timer__colon
                                          shopee-countdown-timer__colon--flashing-off"></div>
                                    <div class="shopee-countdown-timer__number"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/flash_sale?promotionId=2026713624" class="shopee-header-section__header-link">
                        <div class="shopee-button-no-outline">
                            Xem thêm 
                            <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="shopee-svg-icon
                                    icon-arrow-right">
                                <path d="m2.5 11c .1 0 .2 0 .3-.1l6-5c
                                       .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5
                                       4.6-5.5
                                       4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="shopee-header-section__content">
                    <div class="image-carousel">
                        <div class="image-carousel__item-list-wrapper">
                            <ul class="image-carousel__item-list">
                                @if (Model.Product.Count != 0)
                                {
                                    Model.Product.OrderBy(p => p.Sale);
                                    count = 0;
                                    foreach (var item in Model.Product)
                                    {
                                        count++;
                                        <li class="image-carousel__item">
                                            <div class="shopee-product-recommend-items__item-wrapper">
                                                <div class="flash-sale-item-card
                                             flash-sale-item-card--home-page
                                             flash-sale-item-card--VN">
                                                    <a href="#" class="flash-sale-item-card-link">
                                                        <div class="flash-sale-item-card__image
                                                   flash-sale-item-card__image--home-page">
                                                            <div class="reactJS-25r8I">
                                                                <div class="flash-sale-item-card__image-overlay
                                                         flash-sale-item-card__image-overlay--home-page
                                                         reactJS-2GchKS" style="background-image: url(../../assets/img/ProductImages/@item.Image)"></div>
                                                            </div>
                                                            <div class="reactJS-25r8I">
                                                                <div class="flash-sale-item-card__animated-image
                                                         reactJS-2GchKS"></div>
                                                            </div>
                                                        </div>
                                                        <div class="flash-sale-item-card__lower-wrapper
                                                   flash-sale-item-card__lower-wrapper--VN
                                                   flash-sale-item-card__lower-wrapper--home-page">
                                                            <div class="flash-sale-item-card__lower-left">
                                                                <div class="flash-sale-item-card__current-price
                                                         flash-sale-item-card__current-price--home-page">
                                                                    <!-- <span class="item-price-dollar-sign">₫ -->
                                                                    <span class="item-price-number">@item.ProductName.Split('(')[0]</span>
                                                                </div>
                                                                <div class="flash-sale-progress-bar__wrapper
                                                         flash-sale-progress-bar__wrapper--home-page">
                                                                    <div class="flash-sale-progress-bar
                                                            flash-sale-progress-bar--home-page">
                                                                        <div class="flash-sale-progress-bar__text">
                                                                            @String.Format(moneyFomat, item.Price) ₫
                                                                        </div>
                                                                        <div class="flash-sale-progress-bar__complement-wrapper
                                                               flash-sale-progress-bar__complement-wrapper--home-page">
                                                                            <div class="flash-sale-progress-bar__complement-sizer
                                                                  flash-sale-progress-bar__complement-sizer--home-page" style="width: 0%;">
                                                                                <div class="flash-sale-progress-bar__complement-color"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @if (item.Sale > 0)
                                                            {
                                                                <div class="shopee-item-card__badge-wrapper
                                                              shopee-fs-item-card__badge-wrapper
                                                              shopee-fs-item-card__badge-wrapper--home-page">
                                                                    <div class="reactJS_3iRehQ
                                                                 reactJS_36vTKx
                                                                 reactJS_2xY8te
                                                                 shopee-badge">
                                                                        <div class="reactJS_2TDZGE">
                                                                            <span class="percent">Giảm <br />@item.Sale% </span><span class="reactJS_17XqBU">giảm</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        if(count == 5)
                                        {
                                            break;
                                        }
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Flash Sale End-->
        <!-- Skinny Banner Beign-->
        <div style="margin-top: 20px">
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div style="background: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpod-3.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;" class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS"></div>
                    </div>
                </a>
            </div>
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS" style="background-image: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/i/airpods-didongviet-banner-1.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;"></div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Home Page Mall End -->
        <!-- Top Search Begin -->
        <div class="shopee-header-section reactJS_3b6QpT shopee-header-section--simple">
            <div class="shopee-header-section__header">
                <div class="shopee-header-section__header__title">
                    <span class="reactJS_1LyPB">Tablet</span>
                </div>
                <a class="shopee-header-section__header-link" href="/top_products?catId=VN_BITL0_157">
                    <div class="shopee-button-no-outline">
                        Xem tất cả&nbsp;<svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="shopee-svg-icon icon-arrow-right">
                            <path d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"></path>
                        </svg>
                    </div>
                </a>
            </div>
            <div class="shopee-header-section__content">
                <div class="stardust-carousel">
                    <div class="stardust-carousel__item-list-wrapper" style="padding-top: 24.1667%;">
                        <ul class="stardust-carousel__item-list" style="width: 300%; transition: all 0ms ease 0s; transform: translateX(0%) translateX(0px);">
                            <li class="stardust-carousel__item" style="width: 33.3333%;">
                                <div class="stardust-carousel__item-inner-wrapper">
                                    <div class="reactJS_3cAq1q">
                                        @if (Model.Product.Count != 0)
                                        {
                                            var TLCategory = Model.Category.Find(m => m.Name.Equals("Tablet"));
                                            var list = Model.Product.FindAll(p => p.CategoryID == TLCategory.ID);
                                            int count1 = 0;
                                            foreach (var item in list)
                                            {
                                                count1++;
                                                <a class="reactJS_2j61U1 reactJS_2xaiMR" href="@Url.Action("Product", "Product", new { id = item.ID })" >
                                                    <div class="reactJS_qJTSM5">
                                                        <div class="reactJS_1UlW3k reactJS_1qoDIm reactJS_2Uy3h"></div>
                                                        <div class="reactJS_25r8I reactJS_30vIDo">
                                                            <img width="invalid-value" height="invalid-value" class="reactJS_GqgJnR reactJS_2GchKS" style="object-fit: contain" src="~/assets/img/ProductsImage/@item.Image">
                                                        </div>
                                                        <div class="reactJS_b5h6nF">
                                                            @string.Format(moneyFomat, item.Price) đ
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2wthtC" style="font-size:16px;">@item.ProductName</div>
                                                </a>
                                                if(count1 == 7)
                                                {
                                                    break;
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Search End -->
        <div style="margin-top: 20px">
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div style="background: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/a/5/a52s-didongvite-768x150_1_.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;" class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS"></div>
                    </div>
                </a>
            </div>
            <div class="shopee-skinny-banner__container">
                <a class="shopee-skinny-banner" href="" style="width: 610px;
                           height: 119px;
                           border-radius: 2px;">
                    <div class="reactJS-25r8I
                              shopee-skinny-banner__full-height">
                        <div class="shopee-skinny-banner__full-height
                                 reactJS_2GchKS" style="background-image: url(https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/w/a/watch4-_iodngviet.jpg);
                                 background-size: cover;
                                 background-repeat: no-repeat;"></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Watch Begin -->
        <div class="section-trending-search-list">
            <div class="shopee-header-section reactJS_2V6exT shopee-header-section--simple">
                <div class="shopee-header-section__header">
                    <div class="shopee-header-section__header__title">
                        <span>Đồng hồ thông minh</span>
                    </div>
                    <a class="shopee-header-section__header-link" href="/top_products?catId=VN_BITL0_157">
                        <div class="shopee-button-no-outline">
                            Xem tất cả&nbsp;<svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="shopee-svg-icon icon-arrow-right">
                                <path d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="shopee-header-section__content">
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/samsung-galaxy-watch-4-classic-42mm.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Samsung Galaxy Watch 4 Classic R880 42mm Chính Hãng</div>
                                <div class="reactJS_2OKBb0">7.290.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//g/a/galaxy-watch-4-classic-42mm-didongviet_1.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/dong-ho-thong-minh-garmin-venu-sq-music">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Đồng hồ thông minh Garmin Venu SQ Music</div>
                                <div class="reactJS_2OKBb0">4.990.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//d/o/dong-ho-thong-minh-garmin-venu-sq-music-didongviet_1.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/apple-watch-series-3-38mm-silver.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Apple Watch Series 3 38mm (GPS) viền nhôm xám - Dây cao su | Chính Hãng VN/A</div>
                                <div class="reactJS_2OKBb0">4.490.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//a/p/apple-watch-series-3-gps-38-mm-vien-nhom-xam-day-cao-su-didongviet.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/apple-watch-series-7-41mm-gps-vien-nhom-day-cao-su.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Apple Watch Series 7 41mm (GPS) Viền nhôm - Dây cao su | Chính Hãng VN/A</div>
                                <div class="reactJS_2OKBb0">11.990.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//a/p/apple-watch-series-7-41mm-gps-vien-nhom-mau-bac-didongviet.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/apple-watch-series-6-40mm-gps-vien-nhom-vang-day-cao-su-full-vat">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Apple Watch Series 6 40mm (GPS) viền nhôm vàng - Dây cao su Chính Hãng</div>
                                <div class="reactJS_2OKBb0">9.790.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//a/p/apple-watch-series-6-40mm-gps-vien-nhom-vang-day-cao-su-full-vat-didongviet.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Watch End-->
        <!-- Trending List Begin -->
        <div class="section-trending-search-list">
            <div class="shopee-header-section reactJS_2V6exT shopee-header-section--simple">
                <div class="shopee-header-section__header">
                    <div class="shopee-header-section__header__title">
                        <span>Phụ kiện xịn - Giao tận nơi</span>
                    </div>
                    <a class="shopee-header-section__header-link" href="/top_products?catId=VN_BITL0_157">
                        <div class="shopee-button-no-outline">
                            Xem tất cả&nbsp;<svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="shopee-svg-icon icon-arrow-right">
                                <path d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="shopee-header-section__content">
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/tai-nghe-beats-studio-buds.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Tai nghe Apple Beats Studio Buds Chính Hãng</div>
                                <div class="reactJS_2OKBb0">490.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//t/a/tai-nghe-beats-studio-buds.png); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/tai-nghe-bluetooth-soundpeats-air-3.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Tai nghe Bluetooth Soundpeats Air 3</div>
                                <div class="reactJS_2OKBb0">1.190.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//t/a/tai-nghe-soudpeats-bluetooth-air3-didongviet.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/loa-bluetooth-sony-srs-xb23">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Loa Bluetooth Sony SRS-XB23</div>
                                <div class="reactJS_2OKBb0">2.190.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//l/o/loa-bluetooth-sony-srs-xb23-didongviet_2_1.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/tai-nghe-bluetooth-samsung-galaxy-bud-2.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Tai nghe Bluetooth Samsung Galaxy Buds 2</div>
                                <div class="reactJS_2OKBb0">2.390.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//t/a/tai-nghe-bluetooth-samsung-galaxy-buds-2-tim-didongviet_1_1_1.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                    <a class="reactJS_pGTvY reactJS_3I4gP6" href="https://didongviet.vn/pin-du-phong-anker-powercore-slim-10000-pd-a1244.html">
                        <div class="reactJS_2qZOjQ">
                            <div class="reactJS_29Ffc">
                                <div class="reactJS_3KoGe">Pin Dự Phòng Anker PowerCore Slim 10000 PD - A1244</div>
                                <div class="reactJS_2OKBb0">800.000 ₫</div>
                            </div>
                        </div>
                        <div class="reactJS_25r8I reactJS_V53Muj">
                            <div class="reactJS_3FmA9R reactJS_2GchKS" style="background-image: url(https://didongviet.vn/pub/media/catalog/product//p/i/pin-d_-ph_ng-anker-powercore-slim-10000-pd---a1244.jpg); background-size: contain; background-repeat: no-repeat;"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Trending List End-->
        <div class="section-recommend-products-wrapper">
            <div>
                <div class="shopee-header-section reactJS_3b6QpT shopee-header-section--simple">
                    <div class="shopee-header-section__header" style="padding-left: 0 ">
                        <div class="reactJS_8eDJwS">
                            <nav class="stardust-tabs-header-wrapper">
                                <ul class="stardust-tabs-header">
                                    <li class="stardust-tabs-header__tab stardust-tabs-header__tab--active">
                                        <div class="reactJS_lpQk8i reactJS_KYaVhX" style="background: #BE1E2D;"></div>
                                        <div class="reactJS_85W0IA">
                                            <span style="color: #BE1E2D;">Máy cũ giá rẻ</span>
                                        </div>
                                    </li>
                                    <!-- <li class="stardust-tabs-header__tab "> <div class="reactJS_lpQk8i reactJS_KYaVhX" style="background: #BE1E2D;"></div> <div class="reactJS_85W0IA"> <img src="https://cf.shopee.vn/file/48ac8a4088da6befc7c024d68a8e8528" style="width: auto; height: 2rem;"> </div> </li> -->
                                </ul>
                                <i class="stardust-tabs-header__tab-indicator" style="display: none; width: 216px; transform: translateX(0px);"></i>
                            </nav>
                        </div>
                    </div>
                    <div class="stardust-tabs-panels">
                        <div class="stardust-tabs-panels__panel" style="display: block;">
                            <div class="reactJS_1syN0y">
                                <div class="reactJS_1YAByT">
                                    <a data-sqe="link" href="https://didongviet.vn/sony-xperia-1-64gb-likenew.html">
                                        <div class="reactJS_3QUP7l reactJS_2R2waF">
                                            <div class="reactJS_9qe9lA reactJS_2q9Gjc">
                                                <div class="reactJS_25r8I reactJS_ggJllv">
                                                    <img width="invalid-value" height="invalid-value" alt="Áo sweater form rộng Unisex cô gái khói siêu xinh PT5, Áo hoodie nỉ không mũ phong cách oversize streetwear" class="reactJS_3N5L6 reactJS_2GchKS" style="object-fit: contain" src="https://didongviet.vn/pub/media/catalog/product//s/o/sony-xperia-1-64gb-likenew-didongviet.jpg">
                                                    <div class="reactJS_3NVVi">
                                                        <div class="reactJS_3yCxz reactJS_3aFlEb reactJS_3Kq1f">
                                                            <span class="percent">65%</span>
                                                            <span class="reactJS_WL8HRl">giảm</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reactJS_3zWriB">
                                                    <div class="reactJS_2pfw2D">
                                                        <div class="reactJS_1N6I4W">
                                                            <div class="reactJS_10Wbs reactJS_UjjMrh">
                                                                Sony Xperia 1 (6GB|64GB)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2Jvcf reactJS_1zR5G3">
                                                        <div class="reactJS_zp9xm9 reactJS_3Oai0w">
                                                            <span class="reactJS_1qp1Qy">₫</span>
                                                            <span class="reactJS_18rPUd">
                                                                5.690.000
                                                            </span>
                                                        </div>
                                                        <div class="reactJS_2VIlt8 reactJS_2lMdJA">
                                                            (Likenew)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="reactJS_1YAByT">
                                    <a data-sqe="link" href="https://didongviet.vn/galaxy-note-20-ultra-cu.html">
                                        <div class="reactJS_3QUP7l reactJS_2R2waF">
                                            <div class="reactJS_9qe9lA reactJS_2q9Gjc">
                                                <div class="reactJS_25r8I reactJS_ggJllv">
                                                    <img width="invalid-value" height="invalid-value" alt="Áo sweater form rộng Unisex cô gái khói siêu xinh PT5, Áo hoodie nỉ không mũ phong cách oversize streetwear" class="reactJS_3N5L6 reactJS_2GchKS" style="object-fit: contain" src="https://didongviet.vn/pub/media/catalog/product//g/a/galaxy-note-20-ultra-cu-didongviet_1.jpg">
                                                    <div class="reactJS_3NVVi">
                                                        <div class="reactJS_3yCxz reactJS_3aFlEb reactJS_3Kq1f">
                                                            <span class="percent">6%</span>
                                                            <span class="reactJS_WL8HRl">giảm</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reactJS_3zWriB">
                                                    <div class="reactJS_2pfw2D">
                                                        <div class="reactJS_1N6I4W">
                                                            <div class="reactJS_10Wbs reactJS_UjjMrh">
                                                                Samsung Galaxy Note 20 Ultra (8GB|256GB)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2Jvcf reactJS_1zR5G3">
                                                        <div class="reactJS_zp9xm9 reactJS_3Oai0w">
                                                            <span class="reactJS_1qp1Qy">₫</span>
                                                            <span class="reactJS_18rPUd">16.890.000</span>
                                                        </div>
                                                        <div class="reactJS_2VIlt8 reactJS_2lMdJA">
                                                            (Likenew) Fullbox
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="reactJS_1YAByT">
                                    <a data-sqe="link" href="https://didongviet.vn/oppo-reno-4-likenew-fullbox.html">
                                        <div class="reactJS_3QUP7l reactJS_2R2waF">
                                            <div class="reactJS_9qe9lA reactJS_2q9Gjc">
                                                <div class="reactJS_25r8I reactJS_ggJllv">
                                                    <img width="invalid-value" height="invalid-value" alt="Áo sweater form rộng Unisex cô gái khói siêu xinh PT5, Áo hoodie nỉ không mũ phong cách oversize streetwear" class="reactJS_3N5L6 reactJS_2GchKS" style="object-fit: contain" src="https://didongviet.vn/pub/media/catalog/product//o/p/oppo-reno-4-didongviet_2.jpg">
                                                    <div class="reactJS_3NVVi">
                                                        <div class="reactJS_3yCxz reactJS_3aFlEb reactJS_3Kq1f">
                                                            <span class="percent">17%</span>
                                                            <span class="reactJS_WL8HRl">giảm</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reactJS_3zWriB">
                                                    <div class="reactJS_2pfw2D">
                                                        <div class="reactJS_1N6I4W">
                                                            <div class="reactJS_10Wbs reactJS_UjjMrh">
                                                                OPPO Reno 4 (8GB|128GB) Chính hãng
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2Jvcf reactJS_1zR5G3">
                                                        <div class="reactJS_zp9xm9 reactJS_3Oai0w">
                                                            <span class="reactJS_1qp1Qy">₫</span>
                                                            <span class="reactJS_18rPUd">5.790.000</span>
                                                        </div>
                                                        <div class="reactJS_2VIlt8 reactJS_2lMdJA">
                                                            (Fullbox, Likenew)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="reactJS_1YAByT">
                                    <a data-sqe="link" href="https://didongviet.vn/samsung-galaxy-s20-plus-128gb-cty-cu.html">
                                        <div class="reactJS_3QUP7l reactJS_2R2waF">
                                            <div class="reactJS_9qe9lA reactJS_2q9Gjc">
                                                <div class="reactJS_25r8I reactJS_ggJllv">
                                                    <img width="invalid-value" height="invalid-value" alt="Áo sweater form rộng Unisex cô gái khói siêu xinh PT5, Áo hoodie nỉ không mũ phong cách oversize streetwear" class="reactJS_3N5L6 reactJS_2GchKS" style="object-fit: contain" src="https://didongviet.vn/pub/media/catalog/product//s/a/samsung-galaxy-s20-plus-128gb-cu-didongviet_2.jpg">
                                                    <div class="reactJS_3NVVi">
                                                        <div class="reactJS_3yCxz reactJS_3aFlEb reactJS_3Kq1f">
                                                            <span class="percent">10%</span>
                                                            <span class="reactJS_WL8HRl">giảm</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reactJS_3zWriB">
                                                    <div class="reactJS_2pfw2D">
                                                        <div class="reactJS_1N6I4W">
                                                            <div class="reactJS_10Wbs reactJS_UjjMrh">
                                                                Samsung Galaxy S20 Plus (8GB|128GB)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2Jvcf reactJS_1zR5G3">
                                                        <div class="reactJS_zp9xm9 reactJS_3Oai0w">
                                                            <span class="reactJS_1qp1Qy">₫</span>
                                                            <span class="reactJS_18rPUd">11.590.000</span>
                                                        </div>
                                                        <div class="reactJS_2VIlt8 reactJS_2lMdJA">
                                                            Chính hãng (Likenew)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="reactJS_1YAByT">
                                    <a data-sqe="link" href="https://didongviet.vn/samsung-galaxy-s20-ultra-128gb-cty-cu.html">
                                        <div class="reactJS_3QUP7l reactJS_2R2waF">
                                            <div class="reactJS_9qe9lA reactJS_2q9Gjc">
                                                <div class="reactJS_25r8I reactJS_ggJllv">
                                                    <img width="invalid-value" height="invalid-value" alt="Áo sweater form rộng Unisex cô gái khói siêu xinh PT5, Áo hoodie nỉ không mũ phong cách oversize streetwear" class="reactJS_3N5L6 reactJS_2GchKS" style="object-fit: contain" src="https://didongviet.vn/pub/media/catalog/product//s/a/samsung-galaxy-s20-ultra-128gb-cu-didongviet_1.jpg">
                                                    <div class="reactJS_3NVVi">
                                                        <div class="reactJS_3yCxz reactJS_3aFlEb reactJS_3Kq1f">
                                                            <span class="percent">10%</span>
                                                            <span class="reactJS_WL8HRl">giảm</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reactJS_3zWriB">
                                                    <div class="reactJS_2pfw2D">
                                                        <div class="reactJS_1N6I4W">
                                                            <div class="reactJS_10Wbs reactJS_UjjMrh">
                                                                Samsung Galaxy S20 Ultra (12GB|128GB)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2Jvcf reactJS_1zR5G3">
                                                        <div class="reactJS_zp9xm9 reactJS_3Oai0w">
                                                            <span class="reactJS_1qp1Qy">₫</span>
                                                            <span class="reactJS_18rPUd">13.390.000</span>
                                                        </div>
                                                        <div class="reactJS_2VIlt8 reactJS_2lMdJA">
                                                            (Likenew)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="reactJS_1YAByT">
                                    <a data-sqe="link" href="https://didongviet.vn/samsung-galaxy-note-20-ultra-sm-n985f-ds-256gb-cty.html">
                                        <div class="reactJS_3QUP7l reactJS_2R2waF">
                                            <div class="reactJS_9qe9lA reactJS_2q9Gjc">
                                                <div class="reactJS_25r8I reactJS_ggJllv">
                                                    <img width="invalid-value" height="invalid-value" alt="Áo sweater form rộng Unisex cô gái khói siêu xinh PT5, Áo hoodie nỉ không mũ phong cách oversize streetwear" class="reactJS_3N5L6 reactJS_2GchKS" style="object-fit: contain" src="https://didongviet.vn/pub/media/catalog/product//s/a/samsung-galaxy-note-20-ultra-sm-n985f-ds-256gb-cty-didongviet.jpg">
                                                    <div class="reactJS_3NVVi">
                                                        <div class="reactJS_3yCxz reactJS_3aFlEb reactJS_3Kq1f">
                                                            <span class="percent">11%</span>
                                                            <span class="reactJS_WL8HRl">giảm</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reactJS_3zWriB">
                                                    <div class="reactJS_2pfw2D">
                                                        <div class="reactJS_1N6I4W">
                                                            <div class="reactJS_10Wbs reactJS_UjjMrh">
                                                                Samsung Galaxy Note 20 Ultra (12GB|256GB) Chính hãng
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reactJS_2Jvcf reactJS_1zR5G3">
                                                        <div class="reactJS_zp9xm9 reactJS_3Oai0w">
                                                            <span class="reactJS_1qp1Qy">₫</span>
                                                            <span class="reactJS_18rPUd">15.990.000</span>
                                                        </div>
                                                        <div class="reactJS_2VIlt8 reactJS_2lMdJA">
                                                            (Likenew)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Below The Fold End -->
</div>
