<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Di Động Việt</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/base.css")"  />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />
    <link href="~/assets/js/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="stylesheet" href="@Url.Content("~/assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css")" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <style>
        .product-category .wrapper:hover a {
            color: white !important;
        }
    </style>
</head>
<body>


    <header class="header">
        <div class="grid">
            <nav class="header-navbar">
                <ul class="navbar-list">
                    <!-- <li class="navbar-list__item"> <a href="" class="navbar-list__link">Giới thiệu</a> </li> <li class="navbar-list__item"> <a href="" class="navbar-list__link">Tin tức</a> </li> -->
                </ul>
                <ul class="navbar-list">
                    <li class="navbar-list__item">
                        <a href="Information/Gioithieu" class="navbar-list__link">
                            <i class="fas fa-bookmark" style="margin-right: 6px;"></i>
                            Giới thiệu
                        </a>
                    </li>
                    <li class="navbar-list__item">
                        <a href="Information/Contact" class="navbar-list__link">
                            <div class="navbar__help-center-icon">
                                <svg height="16" viewBox="0 0 16 16" width="16" class="shopee-svg-icon icon-help-center">
                                    <g fill="none" fill-rule="evenodd" transform="translate(1)">
                                        <circle cx="7" cy="8" r="7" stroke="currentColor"></circle>
                                        <path fill="currentColor" d="m6.871 3.992c-.814 0-1.452.231-1.914.704-.462.462-.693 1.089-.693 1.892h1.155c0-.484.099-.858.297-1.122.22-.319.583-.473 1.078-.473.396 0 .715.11.935.33.209.22.319.517.319.902 0 .286-.11.55-.308.803l-.187.209c-.682.605-1.1 1.056-1.243 1.364-.154.286-.22.638-.22 1.045v.187h1.177v-.187c0-.264.055-.506.176-.726.099-.198.253-.396.462-.572.517-.451.825-.737.924-.858.275-.352.418-.803.418-1.342 0-.66-.22-1.188-.66-1.573-.44-.396-1.012-.583-1.716-.583zm-.198 6.435c-.22 0-.418.066-.572.22-.154.143-.231.33-.231.561 0 .22.077.407.231.561s.352.231.572.231.418-.077.572-.22c.154-.154.242-.341.242-.572s-.077-.418-.231-.561c-.154-.154-.352-.22-.583-.22z"></path>
                                    </g>
                                </svg>
                            </div>
                            Liên Hệ
                        </a>
                    </li>
                    <li class="navbar-list__item">
                        <i class="fas fa-user"></i>
                        <a href="" class="navbar-list__link">Username</a>
                    </li>
                    <li class="navbar-list__item">
                        <i class="fas fa-sign-out-alt"></i>
                        <a href="/Users/Logout" class="navbar-list__link">Đăng xuất</a>
                    </li>
                    <!-- <li class="navbar-list__item"> <a href="/log_in.html" class="navbar-list__link">Đăng nhập</a> </li> -->
                </ul>
            </nav>
        </div>
        <div class="grid">
            <div class="header-with-search">
                <!-- Header Search Begin -->
                <a class="header-with-search__logo-section" href="Home">
                    <img src="https://didongviet.vn/pub/media/logo/stores/1/logo-ddv.png" style="margin-right: 10px;">
                </a>
                <!-- Search Bar Begin -->
                <div class="search-bar">
                    <!-- Search Input Begin -->
                    <form action="/Users/Search" method="post" style="display: flex; width: 872px;">
                        <div class="search-input-wrapper">
                            <input class="clearable search-input" type="text" name="keyword" value="" placeholder="Nhấn để tìm kiếm sản phẩm">
                        </div>
                        <!-- Search Input End -->
                        <!-- Search Btn Begin -->
                        <button type="submit" name="button" class="search-btn">
                            <div class="search-wrapper">
                                <i class="fas fa-search"></i>
                            </div>
                        </button>
                    </form>
                  
                        <!-- Search Btn End -->
                    </div>
                <!-- Search Bar End -->
                <!-- Cart Begin -->
                <div class="cart-wrapper">
                    <div class="cart">
                        <a href="cart.html" style="text-decoration: none">
                            <i class="fas fa-shopping-cart" style="font-size: 24px; color: white;"></i>
                            <div class="shopee-cart-number-badge">1</div>
                        </a>
                    </div>
                </div>
                <!-- Cart End -->
            </div>
            <!-- Header Search End -->
        </div>
    </header>
    <div class="home-page-wrapper">
        <div class="home-page">
            <div class="product-category">
                <div class="container">
                    <div class="left">
                        <ul>
                            <li>
                                <i class="fas fa-mobile"></i>
                                <span>Điện thoại</span>
                            </li>
                            <li>
                                <i class="fab fa-apple"></i>
                                <span>Apple Iphone</span>
                            </li>
                            <li>
                                <i class="fas fa-tablet-alt"></i>
                                <span>Tablet</span>
                            </li>
                            <li>
                                <i class="far fa-clock"></i>
                                <span>Đồng hồ</span>
                            </li>
                            <li>
                                <i class="fas fa-keyboard"></i>
                                <span>Phụ kiện</span>
                            </li>
                            <li>
                                <i class="fas fa-sync-alt"></i>
                                <span>Máy cũ giá rẻ</span>
                            </li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="wrapper">
                            <i></i>
                            <span>
                                <a href="/News/Display" style="text-decoration: none;">Tin tức
                                    </a>
                            </span>
                        </div>
                        <div class="wrapper">
                            <i></i>
                            <span>
                                <a href="/Information/Policy" style="text-decoration: none;">
                                    Chính sách
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
        <hr />
        <footer class="footer">
            <div class="main">
                <div class="shopee-header-section reactJS_2V6exT shopee-header-section--simple">
                    <div class="shopee-header-section__content">
                        <p class="ddv-apple-thongbao"><img src="https://didongviet.vn/pub/media/ddv/trang-chu/ddv-apple-chinh-thuc.png" alt="">Là đại lý ủy quyền chính thức của Apple tại Việt Nam (Apple Authorized Reseller) từ tháng 11/2020, Di Động Việt đem đến cho quý khách hàng những trải nghiệm tuyệt vời khi mua sắm các sản phẩm, dịch vụ của Apple với chất lượng tốt nhất cùng thái độ phục vụ đúng chuẩn AAR</p>
                    </div>
                    <div class="shopee-header-section__header footer">
                        <div class="footer-link footer-link-left">
                            <ul>
                                <li>
                                    @Html.ActionLink("Giới thiệu", "Gioithieu", "Information")
                                </li>
                                <li>
                                    @Html.ActionLink("Liên hệ", "Contact", "Information")
                                </li>
                                <li>
                                    @Html.ActionLink("Tin tức", "Display", "News")
                                </li>
                                <li>
                                    @Html.ActionLink("Chính sách bán hàng", "Policy", "Information")
                                </li>
                                <li>
                                    @Html.ActionLink("Chính sách bảo mật", "Policy", "Information")
                                </li>
                                <li>
                                    @Html.ActionLink("Chính sách sử dụng", "Policy", "Information")
                                </li>
                            </ul>
                        </div>
                        <div class="footer-support-wrapper content-part">
                            <div class="content">
                                <div class="support-list">
                                    <ul>
                                        <li>
                                            <div class="agency">
                                                <p>Gọi tư vấn máy - phụ kiện</p>
                                                <span>(08:30 – 21:30)</span>
                                            </div>
                                            <div class="phone">
                                                <strong class="bold fs-20 lh-23">1800.6018</strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="agency">
                                                <p>Khiếu nại - Góp ý</p>
                                                <span>(08:30 – 21:30)</span>
                                            </div>
                                            <div class="phone">
                                                <strong class="bold fs-20 lh-23">1800.6306</strong>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="agency">
                                                <p>Bảo hành - Hỗ trợ kỹ thuật</p>
                                                <span>(09:00 – 21:00)</span>
                                            </div>
                                            <div class="phone">
                                                <strong class="bold fs-20 lh-23">1800.6018</strong>
                                            </div>
                                        </li>
                                        <!-- <li> <div class="agency"> <p>Gọi mua hàng từ xa</p> <span>(09:00 – 21:00)</span> </div> <div class="phone"> <strong class="bold fs-20 lh-23">1800.6018</strong> </div> </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-support-wrapper content-part desc">
                            <p>
                                Công Ty TNHH Công Nghệ và Truyền Thông VMG - 73 Trần Quang Khải, Phường Tân Định , quận 1, TPHCM.
                                <br>Mã số doanh nghiệp: 0316105545, ngày cấp: 10/01/2020, nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh
                                <br>MST:0316105545.
                                <br>Chủ sở hữu: Nguyễn Thị Kim Xuân - Điện thoại: 1800.6018 (miễn phí) -
                                <br>Email: lienhe@didongviet.vn - Bản quyền thuộc về Di Động Việt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__image">
                <img src="assets/img/footer.png" alt="">
            </div>
        </footer>
        <script src="@Url.Content("~/assets/js/base.js")" defer="defer"></script>
        <script src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
