@model BTL_DiDongViet.Models.Products
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListFB = (List<BTL_DiDongViet.ViewModel.Feedback>)ViewBag.ListFB;
}
<div class="main pd-top-0">
    <!-- Welcome Package Begin -->
    <div class="welcome-package-banner" data-current-src="https://cf.shopee.vn/file/d3fa706887cf34ddd491c8fc60e37d9f_xxhdpi" style="background-image: url(https://didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/1/2/1280x80_3_.png); background-size: contain; background-repeat: no-repeat;"></div>
    <!-- Welcome Package End -->
    <!-- Nav Tag Begin -->
    <div>
        <a href="@Url.Action("Home", "Category")" class="nav-link nav-arrow">Trang chủ</a>
        <a class="nav-link">@Model.ProductName</a>
    </div>
    <!-- Nav Tag End-->
    <!-- Product Begin-->
    <div class="product-wrapper">
        <div class="product-wrapper-left">
            <div style="max-width: 356px;">
                <img src="~/assets/img/ProductsImage/@Model.Image" alt="">
                <div style="padding: 16px; line-height: 24px;">
                    @Model.Description
                </div>
            </div>
            <div style="display: inline-block; width: 830px;">
                <div class="product-title">

                    @Model.ProductName

                </div>
                <div class="product-info" style="margin-top: 8px;">
                    <div class="product-ram">@Model.Storage</div>
                    <div class="product-price">@Model.Price ₫</div>
                </div>
                <div class="product-color">@Model.Color</div>
                <div class="product-status">
                    <i class="fas fa-map-marker-alt margin-right: 0.4rem;"></i>
                    @if (@Model.Quantity > 0)
                    {
                        <span>Hiện đang còn hàng</span>
                    }
                    else
                    {
                        <span>Hiện đã hết hàng</span>
                    }
                </div>
                <div class="product-giaohang" style="padding: 12px; font-size: 16px; "> <i class="fas fa-tag" style="margin-right: 8px;"></i>@Model.Sale % GIẢM</div>
                @if (@Model.Quantity > 0)
                {
                    <div class="product-dathang" type="submit"><a href="@Url.Action("AddProductToCart", "OrderDetail", new { productID = Model.ID })" style="text-decoration:none; color: white;">THÊM VÀO GIỎ HÀNG</a></div>

                }
                else
                {
                    <button class="product-dathang" type="submit" disabled>THÊM VÀO GIỎ HÀNG</button>

                }
            </div>
        </div>
        <div class="product-wrapper-right">
            <div class="bosanpham">
                <i class="fas fa-archive"></i>Bộ sản phẩm
                <div class="desc">@Model.Sets</div>
            </div>
            <div class="baohanh">
                <i class="fas fa-clipboard-check"></i>Bảo hành
                <div class="desc">
                    @Model.Insurance
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrapper-left feedback-container">
        <!-- FeedBack Begin-->
        <header>
            Feedback về sản phẩm
        </header>
        @using (Html.BeginForm("AddFeedback", "Products", new { id = Model.ID }))
        {
            <div style="width: 400px;">
                <textarea onclick="" name="feedback" class="field-required" placeholder="Hãy thêm đánh giá về sản phẩm..." id="review_field" cols="5" rows="3" data-validate="{required:true}"></textarea>
                <input class="product-dathang fb-button"  style="width:120px;" type="submit" value="Gửi nhận xét"/>
            </div>
        }

        <!-- FeedBack End-->
    </div>

    @foreach(var item in ListFB)
    {
        
<div class="product-wrapper-left feedback-container"
     style="display: flex; flex-direction: column; line-height: 26px;">
    <!-- FeedBack Begin-->
    <header>
        <i class="fas fa-user" style="margin-right: 8px;"></i>@item.UserName
    </header>

    <div>@item.FBContent</div>
    <div style="color:#ccc;">@item.CreatedDate</div>
    <!-- FeedBack End-->
</div>

    }
    
    <!-- Product End-->
</div>
